<form class="register-form">
  <table class="register-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Name" [(ngModel)]="user.name" name="name">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="register-full-width">
      <input matInput placeholder="Address" [(ngModel)]="user.address" name="address">
    </mat-form-field>
  </p>

  <table class="register-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="City" [(ngModel)]="user.city" name="city">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="State" [(ngModel)]="user.state" name="state">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="register-full-width">
          <input matInput #postalCode maxlength="5" placeholder="Postal Code" [(ngModel)]="user.zip" name="zip">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field>
      </td>
    </tr>

    <p>
        <mat-form-field class="register-full-width">
            <input matInput placeholder="Phone" [(ngModel)]="user.phone" name="phone">
        </mat-form-field>
    </p>
  </table>
  <button mat-raised-button (click)="onSubmit()">Submit</button>
</form>

<p *ngIf=userId>{{userId}} created</p>